# Practical_3: Iterable objects or Containers


---

### Exercise 1:
Create a list of integers from 1 to 10.

In [3]:
# Exercise 1
Number = list(range(1, 11))
print(Number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [9]:
# Exercise 2
Tuple = ("Apple", "Banana", "Cherry")
print(Tuple)

('Apple', 'Banana', 'Cherry')


---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

In [10]:
# Exercise 3
Numbers = [10, 20, 30, 40]
Tuple = tuple(Numbers)
print(Tuple)

(10, 20, 30, 40)


---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

In [11]:
# Exercise 4
Set = {1, 2, 3, 4, 5}
print(Set)

{1, 2, 3, 4, 5}


---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

In [12]:
# Exercise 5
Student = {
    "name": "Alice",
    "age": 20,
    "grade": "A"
}

print(Student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}


---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

In [14]:
# Exercise 6
Numbers = [10, 20, 30, 40, 50]
Second_element = Numbers[1]
print(Second_element)

20


---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

In [3]:
# Exercise 7
Fruits = ["Apple", "Banana", "Cherry", "Orange"]
Fruits[2] = "Mango"
print(Fruits)

['Apple', 'Banana', 'Mango', 'Orange']


---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

In [16]:
# Exercise 8
Numbrs = {1, 2, 3, 4, 5}
Numbrs.add(6)
print(Numbrs)

{1, 2, 3, 4, 5, 6}


---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

In [20]:
# Exercise 9
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")
print(person)

{'name': 'John', 'city': 'New York'}


---

### Exercise 10:
Create a range object starting from 0 to 9.

In [22]:
# Exercise 10
Range = range(10)
print(list(Range))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [24]:
# Exercise 11
SquareRoot = [x**2 for x in range(1, 11)]
print(SquareRoot)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

In [25]:
# Exercise 12
Even_numbers = tuple(x for x in range(2, 11) if x % 2 == 0)
print(Even_numbers)

(2, 4, 6, 8, 10)


---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

In [27]:
# Exercise 13
fruits = ["Apple", "Banana", "Cherry"]

for fruit in fruits:
    print(fruit)

Apple
Banana
Cherry


---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

In [28]:
# Exercise 14
numbers = {1, 2, 3, 4, 5}

if 3 in numbers:
    print("3 is in the set")
else:
    print("3 is not in the set")

3 is in the set


---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

In [29]:
# Exercise 15
numbers = (10, 20, 30)
Length = len(numbers)
print(Length)

3


---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

In [34]:
# Exercise 16
Scores = [80, 85, 90, 95]
Scores.append(100)
print(Scores)

[80, 85, 90, 95, 100]


---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

In [37]:
# Exercise 17
def sum_list(numbers):
     return sum(numbers)

my_list = [1, 2, 3, 4, 5]
result = sum_list(my_list)
print(result)

15


---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

In [40]:
# Exercise 18
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4, 5}


---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

In [42]:
# Exercise 19
Word = "Hello"
char_word = list(Word)
print(char_word)

['H', 'e', 'l', 'l', 'o']


---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

In [113]:
# Exercise 20
def reverses(all):
    return all[::-1]
Number = (1, 2, 3, 4)
Reversed_Number = reverses(Number)
print(Reversed_Number)

(4, 3, 2, 1)


---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

In [53]:
# Exercise 21
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}


---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [55]:
# Exercise 22
squares = {x**2 for x in range(1, 6)}
print(squares)

{1, 4, 9, 16, 25}


---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

In [58]:
# Exercise 23
my_dict = {"name": 'Solange', "age": 20, "grade": 'A'}

for key, value in my_dict.items():
    print(f"{key}: {value}")

name: Solange
age: 20
grade: A


---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

In [ ]:
# Exercise 24


---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

In [59]:
# Exercise 25
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]

zipped = list(zip(list1, list2))
print(zipped)

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

In [60]:
# Exercise 26
numbers = [10, 20, 30, 40, 50]
index_50 = numbers.index(50)
print(index_50)

4


---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

In [62]:
# Exercise 27
names = ["David", "Charlie", "Bob", "Alice"]
sorted_names = sorted(names)
print(sorted_names)

['Alice', 'Bob', 'Charlie', 'David']


---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

In [119]:
# Exercise 28
def The_largest(Number):
    return max(Number)
My_list = [20, 10, 3, 60, 5,]
maximun = The_largest(My_list)
print(maximun)

60


---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

In [65]:
# Exercise 29
Fruits = ["Apple", "Banana", "Apple", "Orange"]
Apple_count = Fruits.count("Apple")
print(Apple_count)

2


---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

In [66]:
# Exercise 30
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
city_value = person["city"]
print(city_value)

New York


---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

In [67]:
# Exercise 31
def remove_duplicates(lst):
    return list(set(lst))
my_list = [1, 2, 2, 3, 4, 4, 5, 9, 9, 20, 20]
unique_list = remove_duplicates(my_list)
print(unique_list)

[1, 2, 3, 4, 5, 9, 20]


---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

In [69]:
# Exercise 32
def intersection(list1, list2):
    return list(set(list1) & set(list2))
a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]
result = intersection(a, b)
print(result)

[4, 5]


---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

In [86]:
# Exercise 33
Squares = (x**2 for x in range(1, 11))
for Square in Squares:
    print(Square)

1
4
9
16
25
36
49
64
81
100


---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

In [71]:
# Exercise 34
def sum_dict_values(d):
    return sum(d.values())
my_dict = {"a": 10, "b": 20, "c": 30}
total = sum_dict_values(my_dict)
print(total)

60


---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

In [72]:
# Exercise 35
numbers = [3, 1, 4, 1, 5, 9]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 1, 3, 4, 5, 9]


---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

In [73]:
# Exercise 36
def find_longest_string(strings):
    return max(strings, key=len)
words = ["Apple", "Canana", "Cherry", "Watermelon"]
longest = find_longest_string(words)
print(longest)

Watermelon


---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

In [74]:
# Exercise 37
numbers = [1, 2, 3, 4, 5]
result = all(x > 0 for x in numbers)
print(result)

True


---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

In [75]:
# Exercise 38
squares = [(x, x**2) for x in range(1, 6)]
print(squares)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]


---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

In [ ]:
# Exercise 39
def get_second_elements(tuples_list):
    return [t[1] for t in tuples_list]

# Example usage
my_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
second_elements = get_second_elements(my_tuples)
print(second_elements)


---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

In [87]:
# Exercise 40
def flatten_list(nested_list):
    return [item for sublist in nested_list for item in sublist]
nested = [[1, 2], [3, 4], [5, 6]]
flattened = flatten_list(nested)
print(flattened)

[1, 2, 3, 4, 5, 6]


---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

In [89]:
# Exercise 41
fruits = ["Apple", "Banana", "Cherry"]

for index, value in enumerate(fruits):
    print(f"{index}: {value}")

0: Apple
1: Banana
2: Cherry


---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

In [90]:
# Exercise 42
def is_tuple_empty(t):
    return len(t) == 0
my_tuple = ()
if is_tuple_empty(my_tuple):
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.


---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

In [91]:
# Exercise 43
even_numbers = list(range(2, 21, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

In [92]:
# Exercise 44
def reverse_list(numbers):
    return numbers[::-1]
my_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(my_list)
print(reversed_list)

[5, 4, 3, 2, 1]


---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

In [93]:
# Exercise 45
Cubes = {x: x**3 for x in range(1, 6)}
print(Cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}


---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

In [94]:
# Exercise 46
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(original_list))
print(unique_list)

[1, 2, 3, 4, 5]


---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

In [95]:
# Exercise 47
def get_values(dict_list, key):
    return [d.get(key) for d in dict_list if key in d]
dicts = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "city": "New York"}
]

ages = get_values(dicts, "age")
print(ages)

[25, 30]


---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

In [96]:
# Exercise 48
def fibonacci(n):
    a, b = 0, 1
    count = 0
    while count < n:
        yield a
        a, b = b, a + b
        count += 1
for num in fibonacci(10):
    print(num)

0
1
1
2
3
5
8
13
21
34


---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

In [98]:
# Exercise 49
def unique_chars(s):
    unique = []
    for char in s:
        if char not in unique:
            unique.append(char)
    return unique
text = "DUSABEMARIYA"
print(unique_chars(text))

['D', 'U', 'S', 'A', 'B', 'E', 'M', 'R', 'I', 'Y']


---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

In [99]:
# Exercise 50
def merge_sorted_lists(list1, list2):
    merged = []
    i, j = 0, 0
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged.append(list1[i])
            i += 1
        else:
            merged.append(list2[j])
            j += 1
    merged.extend(list1[i:])
    merged.extend(list2[j:])
    
    return merged
a = [1, 3, 5, 7]
b = [2, 4, 6, 8]
print(merge_sorted_lists(a, b))

[1, 2, 3, 4, 5, 6, 7, 8]


---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

In [100]:
# Exercise 51
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]


---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

In [178]:
# Exercise 52
# List of tuples
tuple_list = [(1, 2), (3, 4), (5, 6)]

# Convert to dictionary
converted_dict = dict(tuple_list)
print("Dictionary:", converted_dict)

Dictionary: {1: 2, 3: 4, 5: 6}


---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

In [120]:
# Exercise 53
def symmetric_difference(set1, set2):
    return set1.symmetric_difference(set2)
a = {1, 2, 3}
b = {3, 4, 5}
print(symmetric_difference(a, b))

{1, 2, 4, 5}


---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

In [121]:
# Exercise 54
List1 = [1, 2, 3, 4]
List2 = [2, 3, 5, 6]
List3 = [0, 2, 3, 7]

common_elements = list(set(List1) & set(List2) & set(List3))
print(common_elements)

[2, 3]


---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

In [122]:
# Exercise 55
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

# Example usage:
print(factorial(5))

120


---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

In [124]:
# Exercise 56
Fruits = ["apple", "", "banana", "", "cherry"]
Filtered_fruits = [fruit for fruit in Fruits if fruit != ""]
print(Filtered_fruits)

['apple', 'banana', 'cherry']


---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

In [125]:
# Exercise 57
def swap_keys_values(d):
    return {value: key for key, value in d.items()}
original = {'a': 1, 'b': 2, 'c': 3}
swapped = swap_keys_values(original)
print(swapped)

{1: 'a', 2: 'b', 3: 'c'}


---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

In [126]:
# Exercise 58
def get_even_numbers(numbers):
    return [num for num in numbers if num % 2 == 0]
nums = [1, 2, 3, 4, 5, 6]
evens = get_even_numbers(nums)
print(evens)

[2, 4, 6]


---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

In [127]:
# Exercise 59
def first_elements(tuples):
    return [t[0] for t in tuples]
pairs = [(1, 'a'), (2, 'b'), (3, 'c')]
firsts = first_elements(pairs)
print(firsts)

[1, 2, 3]


---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

In [128]:
# Exercise 60
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result
items = [1, 2, 2, 3, 1, 4, 5, 3]
unique_items = remove_duplicates(items)
print(unique_items)

[1, 2, 3, 4, 5]


---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

In [129]:
# Exercise 61
Words = ["apple", "banana", "cherry"]
lengths = list(map(len, Words))
print(lengths)

[5, 6, 6]


---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

In [130]:
# Exercise 62
def calculate_average(numbers):
    return sum(numbers) / len(numbers) if numbers else 0
nums = [10, 20, 30, 40]
average = calculate_average(nums)
print(average)

25.0


---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

In [131]:
# Exercise 63
def fibonacci(n):
    fib = []
    a, b = 0, 1
    for _ in range(n):
        fib.append(a)
        a, b = b, a + b
    return fib
print(fibonacci(7))

[0, 1, 1, 2, 3, 5, 8]


---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

In [132]:
# Exercise 64
from collections import Counter
fruits = ["apple", "banana", "apple", "cherry"]
counts = Counter(fruits)
print(dict(counts))

{'apple': 2, 'banana': 1, 'cherry': 1}


---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

In [133]:
# Exercise 65
def remove_value(lst, value):
    return [item for item in lst if item != value]
numbers = [1, 2, 3, 2, 4, 2, 5]
filtered = remove_value(numbers, 2)
print(filtered)

[1, 3, 4, 5]


---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

In [136]:
# Exercise 66
def strings_starting_with_vowel(strings):
    vowels = 'aeiouAEIOU'
    return [s for s in strings if s and s[0] in vowels]
words = ["Apple", "Banana", "Orange", "Grape", "Umbrella"]
starts_with_vowel = strings_starting_with_vowel(words)
print(starts_with_vowel)

['Apple', 'Orange', 'Umbrella']


---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

In [137]:
# Exercise 67
def set_intersection(set1, set2):
    return set1 & set2  # or set1.intersection(set2)
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
common = set_intersection(a, b)
print(common)

{3, 4}


---

### Exercise 68:
Write a Python function that flattens a nested list.

In [138]:
# Exercise 68
def flatten_list(nested):
    flat = []
    for item in nested:
        if isinstance(item, list):
            flat.extend(flatten_list(item))
        else:
            flat.append(item)
    return flat
nested_list = [1, [2, [3, 4], 5], 6]
flattened = flatten_list(nested_list)
print(flattened)

[1, 2, 3, 4, 5, 6]


---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

In [139]:
# Exercise 69
def flatten_list(nested):
    flat = []
    for item in nested:
        if isinstance(item, list):
            flat.extend(flatten_list(item))
        else:
            flat.append(item)
    return flat
nested_list = [1, [2, [3, 4], 5], 6]
flattened = flatten_list(nested_list)
print(flattened)

[1, 2, 3, 4, 5, 6]


---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

In [140]:
# Exercise 70
from functools import reduce
import operator

def multiply_list(lst):
    return reduce(operator.mul, lst, 1)

# Example:
numbers = [1, 2, 3, 4]
print(multiply_list(numbers))

24


---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

In [142]:
# Exercise 71
def strings_to_length_dict(strings):
    return {s: len(s) for s in strings}
words = ["Apple", "Banana", "Kiwi"]
length_dict = strings_to_length_dict(words)
print(length_dict)

{'Apple': 5, 'Banana': 6, 'Kiwi': 4}


---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

In [143]:
# Exercise 72
def count_vowels(text):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in text if char in vowels)

# Example:
sentence = "Hello, how are you?"
print(count_vowels(sentence))

7


---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

In [144]:
# Exercise 73
import math

factorials = [(i, math.factorial(i)) for i in range(1, 6)]
print(factorials)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]


---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

In [145]:
# Exercise 74
dicts = [{'a': 1}, {'b': 2}, {'c': 3}]
merged = {}
for d in dicts:
    merged.update(d)

print(merged)

{'a': 1, 'b': 2, 'c': 3}


---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

In [147]:
# Exercise 75
def is_subset(set1, set2):
    return set1.issubset(set2)

# Example:
a = {1, 2}
b = {1, 2, 3, 4}
print(is_subset(a, b))

True


---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

In [149]:
# Exercise 76
data = [(1, 3), (2, 1), (4, 2)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(2, 1), (4, 2), (1, 3)]


---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

In [150]:
# Exercise 77
def filter_positive_integers(numbers):
    return [num for num in numbers if num > 0]
nums = [-2, 0, 3, -1, 5]
print(filter_positive_integers(nums))

[3, 5]


---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

In [155]:
# Exercise 78
def union_of_sets(set1, set2):
    return set1.union(set2)
a = {1, 2, 3}
b = {3, 4, 5}
print(union_of_sets(a, b))

{1, 2, 3, 4, 5}


---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

In [156]:
# Exercise 79
from functools import reduce
import operator

def product_of_list(numbers):
    return reduce(operator.mul, numbers, 1)
nums = [2, 3, 4]
print(product_of_list(nums))

24


---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

In [157]:
# Exercise 80
def chars_to_string(chars):
    return ''.join(chars)
characters = ['H', 'e', 'l', 'l', 'o']
print(chars_to_string(characters))

Hello


---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

In [158]:
# Exercise 81
def second_largest(numbers):
    unique_nums = list(set(numbers))
    if len(unique_nums) < 2:
        return None  # Not enough unique numbers
    unique_nums.sort(reverse=True)
    return unique_nums[1]
nums = [10, 20, 20, 30, 40]
print(second_largest(nums))

30


---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

In [160]:
# Exercise 82
def sorted_keys(d):
    return sorted(d.keys())
data = {'Banana': 3, 'Apple': 4, 'Cherry': 2}
print(sorted_keys(data))

['Apple', 'Banana', 'Cherry']


---

### Exercise 83:
Write a Python program that finds the most common element in a list.

In [161]:
# Exercise 83
from collections import Counter

def most_common_element(lst):
    count = Counter(lst)
    return count.most_common(1)[0][0] if count else None

# Example:
items = [1, 3, 2, 3, 4, 3, 2]
print(most_common_element(items))

3


---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

In [162]:
# Exercise 84
def sort_by_first_element(tuples):
    return sorted(tuples, key=lambda x: x[0])
pairs = [(3, 'c'), (1, 'a'), (2, 'b')]
print(sort_by_first_element(pairs))

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

In [163]:
# Exercise 85
def remove_duplicate_dicts(dict_list):
    seen = set()
    unique = []
    for d in dict_list:
        tup = tuple(sorted(d.items()))
        if tup not in seen:
            seen.add(tup)
            unique.append(d)
    return unique
dicts = [{'a': 1, 'b': 2}, {'a': 1, 'b': 2}, {'a': 2}]
print(remove_duplicate_dicts(dicts))  
# Output: [{'a': 1, 'b': 2}, {'a': 2}]

[{'a': 1, 'b': 2}, {'a': 2}]


---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

In [167]:
# Exercise 86
def find_min_max(numbers):
    if not numbers:
        return None, None
    return min(numbers), max(numbers)
print(find_min_max([5, 2, 9, 1, 7]))

(1, 9)


---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

In [168]:
# Exercise 87
def create_tuples(list1, list2):
    return list(zip(list1, list2))
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
print(create_tuples(list1, list2))  # Output: [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

In [170]:
# Exercise 88
def reverse_strings(strings):
    return strings[::-1]
print(reverse_strings(["Apple", "Banana", "Cherry"]))

['Cherry', 'Banana', 'Apple']


---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

In [171]:
# Exercise 89
def sum_of_odds(numbers):
    return sum(num for num in numbers if num % 2 != 0)
print(sum_of_odds([1, 2, 3, 4, 5]))

9


---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

In [176]:
# Exercise 90
def is_palindrome(s):
    # Remove spaces and convert to lowercase
    s = s.replace(" ", "").lower()
    return s == s[::-1]
string = input("Enter a string: ")
if is_palindrome(string):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string:  solange

The string is not a palindrome.


---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

In [177]:
# Exercise 91
def find_median(numbers):
    sorted_nums = sorted(numbers)
    n = len(sorted_nums)
    
    if n % 2 == 1:
        return sorted_nums[n // 2]
    else:
        # Even number of elements
        mid1 = sorted_nums[n // 2 - 1]
        mid2 = sorted_nums[n // 2]
        return (mid1 + mid2) / 2
num_list = [12, 3, 5, 7, 13]
median = find_median(num_list)
print("Median:", median)

Median: 7


---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

In [2]:
# Exercise 92
def sum_dicts(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result

dicts = [
    {"a": 1, "b": 2},
    {"a": 3, "b": 4, "c": 5},
    {"b": 1, "c": 2}
]

print(sum_dicts(dicts))

{'a': 4, 'b': 7, 'c': 7}


---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

In [173]:
# Exercise 93
from collections import Counter

def find_mode(numbers):
    if not numbers:
        return None
    counter = Counter(numbers)
    max_freq = max(counter.values())
    modes = [num for num, freq in counter.items() if freq == max_freq]
    return modes if len(modes) > 1 else modes[0]
print(find_mode([1, 2, 2, 3, 4]))   
print(find_mode([1, 1, 2, 2]))

2
[1, 2]


---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

In [174]:
# Exercise 94
def sum_of_squares(numbers):
    return sum(x**2 for x in numbers)
print(sum_of_squares([1, 2, 3]))  # Output: 14

14


---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

In [175]:
# Exercise 95
def number_cubes():
    return [(x, x**3) for x in range(1, 6)]
print(number_cubes())

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]


---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

In [165]:
# Exercise 96
def sorted_dict_keys(d):
    return sorted(d.keys())
my_dict = {'Banana': 3, 'Apple': 5, 'Cherry': 2}
print(sorted_dict_keys(my_dict))

['Apple', 'Banana', 'Cherry']


---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

In [166]:
# Exercise 97
def common_keys(dict1, dict2):
    return list(set(dict1.keys()) & set(dict2.keys()))
a = {'x': 1, 'y': 2, 'z': 3}
b = {'y': 9, 'z': 8, 'w': 7}
print(common_keys(a, b))  # Output: ['y', 'z']

['z', 'y']


---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

In [151]:
# Exercise 98
def filter_positive_integers(numbers):
    return [num for num in numbers if num > 0]

# Example:
nums = [-2, 0, 3, -1, 5]
print(filter_positive_integers(nums))

[3, 5]


---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

In [153]:
# Exercise 99
def strings_with_lengths(strings):
    return [(s, len(s)) for s in strings]
words = ["Apple", "Banana", "Kiwi"]
print(strings_with_lengths(words))

[('Apple', 5), ('Banana', 6), ('Kiwi', 4)]


---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

In [179]:
# Exercise 100
from collections import defaultdict

def sum_dict_values(dicts):
    result = defaultdict(int)
    for d in dicts:
        for key, value in d.items():
            result[key] += value
    return dict(result)
dict_list = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}, {'c': 5}]
print(sum_dict_values(dict_list))

{'a': 4, 'b': 6, 'c': 5}